[BASIC]
good-names=
    stateMutability,
    internalType,
    baseType,
    symbolAliases,
    unitAlias,
    SourceCode,
    ABI,
    ContractName,
    CompilerVersion,
    OptimizationUsed,
    Runs,
    ConstructorArguments,
    EVMVersion,
    Library,
    LicenseType,
    Proxy,
    Implementation,
    SwarmSource,
    SourceCodeHash,
    SourceCodeMetaData,
    AST,
    SourceList,
    DeveloperDoc,
    UserDoc,