import struct
from enum import Enum

from pydantic import BaseModel, confloat, conint


MAX_PROTO_SIZE = 2 * 1024 * 1024 * 1024  # 2 GiB in bytes

min_int32 = -1 << 31
max_int32 = (1 << 31) - 1
min_uint32 = 0
max_uint32 = (1 << 32) - 1

min_int64 = -1 << 63
max_int64 = (1 << 63) - 1
min_uint64 = 0
max_uint64 = (1 << 64) - 1

min_float32 = struct.unpack('f', struct.pack('I', 0xFF7FFFFF))[0]
max_float32 = struct.unpack('f', struct.pack('I', 0x7F7FFFFF))[0]
min_float64 = struct.unpack('d', struct.pack('Q', 0xFFEFFFFFFFFFFFFF))[0]
max_float64 = struct.unpack('d', struct.pack('Q', 0x7FEFFFFFFFFFFFFF))[0]
{#-#}
{%- set scalar_map = {
    "double": "confloat(ge=min_float64, le=max_float64)",
    "float": "confloat(ge=min_float32, le=max_float32)",
    "int32": "conint(ge=min_int32, le=max_int32)",
    "int64": "conint(ge=min_int64, le=max_int64)",
    "uint32": "conint(ge=min_uint32, le=max_uint32)",
    "uint64": "conint(ge=min_uint64, le=max_uint64)",
    "sint32": "conint(ge=min_int32, le=max_int32)",
    "sint64": "conint(ge=min_int64, le=max_int64)",
    "fixed32": "conint(ge=min_uint32, le=max_uint32)",
    "fixed64": "conint(ge=min_uint64, le=max_uint64)",
    "sfixed32": "conint(ge=min_int32, le=max_int32)",
    "sfixed64": "conint(ge=min_int64, le=max_int64)",
    "bool": "bool",
    "string": "str",
    "bytes": "bytes",
} %}
{#-#}

{# Define a list of enum names #}
{%- set enum_names = [] %}
{%- for enum in result.file_elements if enum.__class__.__name__ == "Enum" %}
{%- set enum_names = enum_names.append( enum.name ) %}
{%- endfor %}

{#- First, generate Enums #}
{%- for enum in result.file_elements if enum.__class__.__name__ == "Enum" %}
class {{ enum.name }}(Enum):
{%- for value in enum.elements %}
    {{ value.name }} = {{ value.number }}
{%- endfor %}
{%- endfor %}

{#- Now generate message classes #}
{%- for message in result.file_elements if message.__class__.__name__ == "Message" %}
class {{ message.name }}(BaseModel):
{#- Handle nested messages #}
{%- for element in message.elements if element.__class__.__name__ == "Message" %}
    class {{ element.name }}(BaseModel):
    {%- for field in element.elements %}
        {{ field.name }}: {{ scalar_map.get(field.type, field.type) }}{% if field.cardinality == "OPTIONAL" %} | None{% endif %}
    {%- endfor %}
{%- endfor %}
{#- Handle fields, including enums #}
{%- for field in message.elements if field.__class__.__name__ == "Field" %}
    {%- if field.cardinality == 'REPEATED' %}
    {{ field.name }}: list[{{ scalar_map.get(field.type, field.type) }}]
    {%- else %}
    {{ field.name }}: {{ scalar_map.get(field.type, field.type) }}{% if field.cardinality == "OPTIONAL" %} | None{% endif %}
    {%- endif %}
{%- endfor %}

    @staticmethod
    def encode(proto_obj, {{ message.name|lower }}: "{{ message.name }}") -> None:
    {%- for element in message.elements if element.__class__.__name__ == "Field" %}
    {%- if element.type in enum_names %}
        {%- if element.cardinality == "OPTIONAL" %}
        if {{ message.name|lower }}.{{ element.name }} is not None:
            proto_obj.{{ element.name }} = {{ message.name|lower }}.{{ element.name }}.value
        {%- else %}
        proto_obj.{{ element.name }} = {{ message.name|lower }}.{{ element.name }}.value
        {%- endif %}
    {%- elif element.cardinality == "REPEATED" %}
        {%- if scalar_map.get(element.type) not in scalar_map.values() %}
        for item in {{ message.name|lower }}.{{ element.name }}:
            {{ element.type }}.encode(proto_obj.{{ element.name }}.add(), item)
        {%- else %}
        proto_obj.{{ element.name }}.extend({{ message.name|lower }}.{{ element.name }})
        {%- endif %}
    {%- elif element.cardinality == "OPTIONAL" %}
        if {{ message.name|lower }}.{{ element.name }} is not None:
            {%- if scalar_map.get(element.type) not in scalar_map.values() %}
            {{ element.type }}.encode(proto_obj.{{ element.name }}, {{ message.name|lower }}.{{ element.name }})
            {%- else %}
            proto_obj.{{ element.name }} = {{ message.name|lower }}.{{ element.name }}
            {%- endif %}
    {%- else %}
        {%- if scalar_map.get(element.type) not in scalar_map.values() %}
        {{ element.type }}.encode(proto_obj.{{ element.name }}, {{ message.name|lower }}.{{ element.name }})
        {%- else %}
        proto_obj.{{ element.name }} = {{ message.name|lower }}.{{ element.name }}
        {%- endif %}
    {%- endif %}
    {%- endfor %}

    @classmethod
    def decode(cls, proto_obj) -> "{{ message.name }}":
    {%- for element in message.elements if element.__class__.__name__ == "Field" %}
    {%- if element.type in enum_names %}
        {%- if element.cardinality == "OPTIONAL" %}
        decoded_{{ element.name }} = (
            {{ element.type }}(proto_obj.{{ element.name }}) if proto_obj.HasField("{{ element.name }}") else None
        )
        {%- else %}
        decoded_{{ element.name }} = {{ element.type }}(proto_obj.{{ element.name }})
        {%- endif %}
    {%- elif element.cardinality == "REPEATED" %}
        decoded_{{ element.name }} = [
            {%- if scalar_map.get(element.type) not in scalar_map.values() %}
            cls.{{ element.type }}.decode(item)
            {%- else %}
            item
            {%- endif %}
            for item in proto_obj.{{ element.name }}
        ]
    {%- elif element.cardinality == "OPTIONAL" %}
        decoded_{{ element.name }} = (
            {%- if scalar_map.get(element.type) not in scalar_map.values() %}
            cls.{{ element.type }}.decode(proto_obj.{{ element.name }}) if proto_obj.HasField("{{ element.name }}") else None
            {%- else %}
            proto_obj.{{ element.name }} if proto_obj.HasField("{{ element.name }}") else None
            {%- endif %}
        )
    {%- else %}
        decoded_{{ element.name }} = (
            {%- if scalar_map.get(element.type) not in scalar_map.values() %}
            cls.{{ element.type }}.decode(proto_obj.{{ element.name }})
            {%- else %}
            proto_obj.{{ element.name }}
            {%- endif %}
        )
    {%- endif %}
    {%- endfor %}

        return cls(
            {%- for element in message.elements if element.__class__.__name__ == "Field" %}
            {{ element.name }}=decoded_{{ element.name }}{{ "," if not loop.last else "" }}
            {%- endfor %}
        )

{% endfor %}
